In [2]:
import pandas as pd
import csv
data={'Name':['Alice','Bob','Charlie','David','Eva'],
      'Age':[20,21,22,20,23],
      'Grade_Math':[85,90,78,92,88],
      'Grade_Science':[92,88,95,89,84],
      'Grade_History':[78,85,88,92,90]
      }
csvfile="Students_data.csv"
student_df=pd.DataFrame(data)
student_df.to_csv(csvfile,index=False)
outputt="Grade_stats.csv"
subjects=['Grade_Math','Grade_Science','Grade_History']
stats_data={
    'Subjects':subjects,
    'Average_grade':[student_df[subject].mean() for subject in subjects],
    'Standard_dev':[student_df[subject].std() for subject in subjects]
}
student_dff=pd.DataFrame(stats_data)
student_dff.to_csv(outputt,index=False)
print(student_dff)

        Subjects  Average_grade  Standard_dev
0     Grade_Math           86.6      5.458938
1  Grade_Science           89.6      4.159327
2  Grade_History           86.6      5.458938

In [7]:
x = {'Name':['Rose', 'John', 'Jane', 'Mary'],'ID':[1,2, 3, 4],'Department':['Architect Group', 'SoftwareGroup', 'Design Team', 'Infrastructure'],'Salary':[100000, 80000, 50000, 60000]}
df = pd.DataFrame(x)
print(df.describe())
print(df.T.describe())
print(df)
x=df[['Name']]
print(x)

             ID         Salary
count  4.000000       4.000000
mean   2.500000   72500.000000
std    1.290994   22173.557826
min    1.000000   50000.000000
25%    1.750000   57500.000000
50%    2.500000   70000.000000
75%    3.250000   85000.000000
max    4.000000  100000.000000
           0     1     2     3
count      4     4     4     4
unique     4     4     4     4
top     Rose  John  Jane  Mary
freq       1     1     1     1
   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2    SoftwareGroup   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000
   Name
0  Rose
1  John
2  Jane
3  Mary